# Maven
target/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Relatórios locais
reports/
screenshots/

# Configurações locais
.env
config-local.properties